.site-header {
	padding-left: 96px;
	padding-right: 96px;
	margin-left: -96px;
	margin-right: -96px;
	/*第一个主题加margin-top:50px;*/
}

.site-content {
	padding-left: 96px;
	padding-right: 96px;
	margin-left: -96px;
	margin-right: -96px;
}

.emotional_img{
    transition: 0.3s; 
    -webkit-transition: .3s; 
    -moz-transition: .3s; 
}

.emotional_img:hover{
    opacity: 1;
}

.emotional_img:hover ~ #integrity > .site-content{
}

.emotional_img:hover ~ #integrity > .site-header{
    
}

.emotional_img:hover ~ #integrity{
    box-shadow: 0px 0px 50px 0px #666;
    background-color: white;
    opacity: .88;
}

#integrity{
    padding-left: 96px;
	padding-right: 96px;
	margin-left: -96px;
	margin-right: -96px;
	border-radius: 25px 25px 25px 25px;
	margin-bottom: 30px;
    transition: 0.3s; 
    -webkit-transition: .3s; 
    -moz-transition: .3s;
    padding-bottom: 10px;
    margin-top: 20px;
}

.archives__heading {
    text-align: left;
}

.logodiv{
    padding-top: 6px;
}