.aplayer-list{
    background:white;
    border:none;
}
.aplayer-lrc{
    opacity:0;
}

::selection {
    background:#ff9900;
    color:#ffffff;
}

::-moz-selection {
    background:#ff9900;
    color:#ffffff;
}

::-webkit-selection {
    background:#ff9900;
    color:#ffffff;
}


::-webkit-scrollbar{display: none}

a:hover {color:#ff9900;}   /* 鼠标指针移动到链接上 */